.input {
	width: 200px;
	display: inline-block;
}
#container {
	margin-top: 4em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 4em;
	display: block;
	width: 500px;
}

#map-canvas { 
	display: block;
	position: fixed;
	width: auto;
	height: 600px;

}