#form {
	display: inline-block;
	width: 960px;
	margin-bottom: 20px;
}

#form:not(:first-child) {
    margin-left: 200;
}

.input {
	display: inline-block
}

#container {
	margin-top: 4em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 4em;
	display: block;
	width: 960px;
}

#map-canvas { 
	display: block;
	position: fixed;
	width: auto;
	height: 600px;

}

#city2-container {
	margin-left: 40px;
}

#submit-container {
	margin-left: 40px;
}